<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.dao.BookMapper">
    <insert id="addBook" parameterType="Books">
        insert into ssmbuild.books(bookId, title, author,
                                   pubDate, press, amount,
                                   subject, price, state)
        values(#{bookId},#{title},#{author},
               #{pubDate},#{press},#{amount},
               #{subject},#{price},#{state})
    </insert>

    <delete id="deleteBookById" parameterType="_int">
        delete from ssmbuild.books where bookId = #{bookID}
    </delete>

    <!--
        update
        set = #{}, = #{},= #{},
            = #{},= #{},= #{},
            = #{},= #{}
            -->

    <update id="updateBook" parameterType="Books">
        update ssmbuild.books
        set title = #{title},author = #{author},pubDate= #{pubDate},
            press = #{press},amount= #{amount},subject= #{subject},
            price = #{price},state = #{state}
        where bookId = #{bookId}
    </update>

    <select id="queryBookById" resultType="Books">
        select * from ssmbuild.books
        where bookID=#{bookID}
    </select>

    <select id="queryAllBook" resultType="Books">
        select * from ssmbuild.books
    </select>

    <select id="queryBookByName" resultType="Books">
        select * from ssmbuild.books where books.title like #{bookName}
    </select>

</mapper>