<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描service下的包-->
    <context:component-scan base-package="com.ning.service"/>

    <!--将我们的所有的业务类注入到Spring，使用配置或者注解实现-->
    <bean id="BookServiceImpl" class="com.ning.service.impl.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>

    <bean id="ReaderServiceImpl" class="com.ning.service.impl.ReaderServiceImpl">
        <property name="readerMapper" ref="readerMapper"/>
    </bean>
    <bean id="RecordServiceImpl" class="com.ning.service.impl.RecordServiceImpl">
        <property name="recordMapper" ref="recordMapper"/>
    </bean>
    <bean id="CollectServiceImpl" class="com.ning.service.impl.CollectServiceImpl">
        <property name="collectMapper" ref="collectMapper"/>
    </bean>
    <bean id="QuesAnsServiceImpl" class="com.ning.service.impl.QuesAnsServiceImpl">
        <property name="quesAnsMapper" ref="quesAnsMapper"/>
    </bean>
    <bean id="StaffServiceImpl" class="com.ning.service.impl.StaffServiceImpl">
        <property name="staffMapper" ref="staffMapper"/>
    </bean>
    <bean id="BooksCoverServiceImpl" class="com.ning.service.impl.BooksCoverServiceImpl">
        <property name="booksCoverMapper" ref="booksCoverMapper"/>
    </bean>
    <bean id="CommentsServiceImpl" class="com.ning.service.impl.CommentsServiceImpl">
        <property name="commentsMapper" ref="commentsMapper"/>
    </bean>







    <!--声明式事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--aop事务支持-->

</beans>