<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.dao.BookStateMapper">

    <select id="queryAllState" resultType="BookState">
        select bookid, title, location, remainnum
        from LYN.BOOK_STATE
    </select>

    <select id="queryStateByBookId" resultType="BookState">
        select bookid, title, location, remainnum
        from LYN.BOOK_STATE where BOOKID = #{bookId}
    </select>

    <insert id="addBookState" parameterType="BookState">
        insert into LYN.BOOK_STATE(BOOKID, TITLE, LOCATION, REMAINNUM) VALUES
            (#{bookId},#{title},#{location},#{remainNum})
    </insert>

    <delete id="deleteBookStateById">
        delete LYN.BOOK_STATE where BOOKID=#{bookId}
    </delete>
</mapper>