<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.dao.QuesAnsMapper">
    <select id="queryQuesByReaderId" resultType="QuesAns">
        select * from QUES_ANS where READERID = #{readerId}
    </select>

    <select id="queryAllQues" resultType="QuesAns">
        select * from QUES_ANS
    </select>

    <select id="queryUnsolvedQues" resultType="QuesAns">
        select * from QUES_ANS where ANSWER is null
    </select>

    <select id="querySolvedQues" resultType="QuesAns">
        select * from QUES_ANS where ANSWER is not null
    </select>

    <insert id="addQues" parameterType="QuesAns">
        insert into QUES_ANS (READERID, ASKDATE, QUESTION)
        values (#{readerId},#{askDate},#{question})
    </insert>

    <delete id="dropQues" parameterType="QuesAns">
        delete QUES_ANS where READERID = #{readerId} and ASKDATE = #{askDate}
    </delete>

    <update id="quesAnsReply" parameterType="QuesAns">
        update LYN.QUES_ANS set ANSWER = #{answer},JOBID = #{jobId}
                        where READERID=#{readerId} and ASKDATE = #{askDate}
    </update>
</mapper>