<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.dao.QuesAnsMapper">
    <select id="queryQuesByReaderId" resultType="QuesAns">
        select * from QUES_ANS where READERID = #{readerId}
    </select>

    <insert id="addQues" parameterType="QuesAns">
        insert into QUES_ANS (READERID, ASKDATE, QUESTION)
        values (#{readerId},#{askDate},#{question})
    </insert>

    <delete id="dropQues" parameterType="QuesAns">
        delete QUES_ANS where READERID = #{readerId} and ASKDATE = #{askDate}
    </delete>
</mapper>