<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.dao.RecordMapper">

    <insert id="addRecord" parameterType="Record">
        insert into LYN.RECORD (READERID, BOOKID, BORROWDATE, STATE, EXPECTDATE)
        VALUES (#{readerId},#{bookId},#{borrowDate},#{state},#{expectDate})
    </insert>

    <update id="updateRecord" parameterType="Record">
        update RECORD set STATE = #{state},
                        EXPECTDATE = #{expectDate}
                        /*续借操作returnDate == null 时需要动态SQL判空*/
                        <if test="returnDate!=null">
                            RETURNDATE = #{returnDate}
                        </if>
                    where READERID = #{readerId} and BOOKID = #{bookId} and BORROWDATE = #{borrowDate}
    </update>

    <update id="staffReturnBook" parameterType="Record">
        update LYN.RECORD set STATE = '已还',
                              RETURNDATE = #{returnDate}
                        where READERID = #{readerId} and BORROWDATE = #{borrowDate} and BOOKID = #{bookId}
    </update>

    <select id="queryRecordByReaderId" resultType="Record">
        select * from RECORD join BOOKS using (BOOKID) where READERID = #{readerId}
    </select>

    <select id="queryContinueByReaderId" resultType="Record">
        select * from RECORD join BOOKS using (BOOKID) where READERID = #{readerId} and RECORD.STATE = '未还'
    </select>

    <select id="queryUnReturnByReaderId" resultType="Record">
        select * from RECORD join BOOKS using (BOOKID) where READERID = #{readerId} and (RECORD.STATE = '未还' or RECORD.STATE = '续借' or RECORD.STATE = '逾期')
    </select>

    <select id="queryUnReturn" resultType="Record">
        select * from RECORD join BOOKS using (BOOKID) where (RECORD.STATE = '未还' or RECORD.STATE = '续借' or RECORD.STATE = '逾期')
    </select>

    <select id="queryAllRecord" resultType="Record">
        select * from RECORD
    </select>

</mapper>